__pycache__/tango_model.cpython-312.pyc
PNAS_paper_data/Fig_1/__pycache__/CaseDataPlotters.cpython-312.pyc
PNAS_paper_data/Fig_3/__pycache__/Epidemic_trajectory_plotters.cpython-312.pyc
PNAS_paper_data/Fig_S3/__pycache__/CaseDataPlotters.cpython-312.pyc
